* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Montserrat";
    color: #202020;
    font-style: normal;
    font-weight: 400;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #F5F5F5;
}
.store-whole-container {
    max-width: 1390px;
    margin: auto;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
.caption-small {
    font-size: 14px;
}
.caption-big {
    font-size: 25px;
}
.intro-nav {
    display: flex;
    margin: 25px 0 10px;
    justify-content: space-between;
}
.nav-logo {
    flex-grow: 0.2;
    align-items: flex-start;
}
.nav-center {
    display: flex;
    flex-grow: 0.2;
    justify-content: space-between;
    align-self: flex-end;
}
.nav-right {
    display: flex;
    flex-grow: 0.1;
    justify-content: space-between;
    align-self: flex-end;
}
li {
    list-style: none;
}
hr {
    border: 0.5px solid #BBBBBB;
    margin-bottom: 15px;
}
.spectacles-main-caption {
    display: flex;
}
.spectacles-small {
    flex-grow: 0.15;
    margin: 15px 0 0 0;
    width: 225px;
}
.spectacles-big {
    width: 320px;
    height: 60px;
    text-align: justify;
    line-height: normal;
    margin: 15px 0 0 0;
}
.secondary-header {
    font-size: 35px;
    width: 420px;
    font-weight: 200;
}
.blocks-layout {
    display: grid;
    grid-template-rows: [main-row-start] 473.5px [showcase-row-start] 450px [main-row-end];
    grid-template-columns: [main-column-start] 450px [showcase-column-start] 450px [showcase-end] 450px [main-column-end];
    grid-gap: 20px;
    margin-bottom: 62px;
}
.card-woolf {
    grid-column-start: showcase-column-start;
    grid-row-start: showcase-row-start;
}
.card-colonnade {
    grid-column-start: showcase-end;
    grid-row-start: showcase-row-start;
}
.shop-btn-container {
    display: flex;
    align-items: center;
    gap: 8px;
}
.product-card {
    position: relative;
    width: 450px;
    height: 450px;
}
.caption-favorite {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
    width: 100%;
}
.caption-favorite h4 {
    margin: 0;
}
.block-caption {
    display: flex;
}
.block-caption a {
    margin-bottom: 10px;
    flex-grow: 1;
}
.block-caption span {
    flex-grow: 1;
}

.primary-header {
    font-size: 75px;
    font-weight: 200;
    width: 1120px;
    margin: 20px 0 232px 0;
}
.tax-return-blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.tax-return-caption {
    display: flex;
    gap: 42px;
}
.tax-return-caption-left {
    white-space: nowrap;
}
.tax-return-caption-right {
    width: 290px;
}
.store-img-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 20px;
}
.store-block-caption {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.store-block-caption p {
    margin: 0;
}
.store-caption-right {
    width: 310px;
}
.footer-container {
    display: grid;
    grid-template-columns: 342px 342px 342px 342px;
    padding-top: 6px;
    margin-left: -25px;
    margin-right: -25px;
    background-color: #E1E1E1;
}
.footer-container div {
    margin-left: 25px;
    margin-right: 25px;
}
