* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Montserrat";
    color: #202020;
    font-style: normal;
    font-weight: 400;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #F5F5F5;
    max-width: max-content;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
.caption-small {
    font-size: 14px;
}
.caption-big {
    font-size: 25px;
}
.intro-nav {
    display: flex;
    margin: 25px 0 10px;
    justify-content: space-between;
}
.nav-logo {
    flex-grow: 0.2;
    align-items: flex-start;
}
.nav-center {
    display: flex;
    flex-grow: 0.2;
    justify-content: space-between;
    align-self: flex-end;
}
.nav-right {
    display: flex;
    flex-grow: 0.1;
    justify-content: space-between;
    align-self: flex-end;
}
li {
    list-style: none;
}
hr {
    border: 0.5px solid #BBBBBB;
    margin-bottom: 15px;
}
.spectacles-main-caption {
    display: flex;
}
.spectacles-small {
    flex-grow: 0.15;
    margin: 15px 0 0 0;
    width: 225px;
}
.spectacles-big {
    width: 320px;
    height: 60px;
    text-align: justify;
    line-height: normal;
    margin: 15px 0 0 0;
}
.secondary-header {
    font-size: 35px;
    width: 420px;
    font-weight: lighter;
}
.blocks-layout {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    margin-bottom: 62px;
}
.shop-btn-container {
    display: flex;
    align-items: center;
    gap: 8px;
}
.img-text {
    position: relative;
}
.img-text h4 {
    margin-top: 12px;
    margin-left: 12px;
}
.caption-favorite {
    display: flex;
    position: absolute;
    width: 450px;
    justify-content: space-between;
}
.caption-favorite img {
    align-self: center;
    margin-right: 15px;
    image-resolution: snap;
}
.block-caption {
    display: flex;
}
.block-caption a {
    margin-right: 188px;
    margin-bottom: 10px;
}
.primary-header {
    font-size: 75px;
    font-weight: lighter;
    width: 1120px;
    margin: 20px 0 232px 0;
}
.tax-return-blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.tax-return-caption {
    display: flex;
    gap: 42px;
}
.tax-return-caption-left {
    white-space: nowrap;
}
.tax-return-caption-right {
    width: 290px;
}
.store-img-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.store-block-caption {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.store-block-caption p {
    margin: 0;
}
.store-caption-right {
    width: 310px;
}